@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700');

@font-face {
	font-family: 'Trajan';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/trajan-pro/TrajanPro-Regular.ttf') format('truetype');
}