@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamMedium.otf') format('opentype');
}

@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url('../fonts/GothamBold.otf') format('opentype');
}

@font-face {
    font-family: Gotham;
    font-weight: extra_bold;
    src: url('../fonts/GothamBlack.otf') format('opentype');
}

@font-face {
    font-family: Gotham;
    font-weight: light;
    src: url('../fonts/GothamLight.otf') format('opentype');
}

@keyframes bgcolor {
    0% {
        background-color: #ff9601
    }

    12.5% {
        background-color: #f93d6d
    }

    37.5% {
        background-color: #8d00bb
    }

    62.5% {
        background-color: #265bed
    }

    87.5% {
        background-color: #02d8a6
    }
    
    100% {
        background-color: #ff9601
    }
}

body {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 15s infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}

h1 {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
}
h3 {
  margin-left: -1em;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
}
h4 {
  text-transform: lowercase;
}
h5 {
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
}
