@keyframes bgcolor {
    0% {
        background-color: #ff9601
    }

    30% {
        background-color: #f93d6d
    }

    60% {
        background-color: #8d00bb
    }

    90% {
        background-color: #265bed
    }

    100% {
        background-color: #02d8a6
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

h1 {
  text-transform: lowercase;
  color: rgba(255, 255, 255, 1);
}
h3 {
  margin-left: -1em;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 1);
}
h4 {
  text-transform: lowercase;
}
h5 {
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
}